<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://cdn.vox-cdn.com/thumbor/SRq7H0k3tHubvg6ieKz3ED1tpng=/0x0:1914x805/1200x800/filters:focal(768x132:1074x438)/cdn.vox-cdn.com/uploads/chorus_image/image/72159239/image_2023_04_07_150416489.0.png"
      cardTitle="O RETORNO DE THRAWN"
      cardDescription="Personagem amado pelos fãs retorna em Ahsoka™!"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Lorde Vader pode aparecer na última temporada de Andor™"
      photoCover="https://lumiere-a.akamaihd.net/v1/images/darth-vader-main_4560aff7.jpeg?region=0%2C107%2C1280%2C640"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Quarta temporada de The Mandalorian"
      photoCover="https://lumiere-a.akamaihd.net/v1/images/mandalorian-poster-2-tall_abd75a81.jpeg?region=0,0,1536,864&width=768"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Jedi: Survivor se tornou um grande sucesso dos jogos em 2023."
      photoCover="https://store-images.s-microsoft.com/image/apps.29317.14188092651145353.c3919981-fb28-4755-b504-a3b021220351.b3f7aff1-6ea2-4b36-b05b-f00ce95ea0e4?q=90&w=480&h=270"
    >
    </app-small-card>
  </div>
</div>
